<!-- <div class="container">
<table class="tab">
    <tr >
    <td colspan="4"><input type="text" class="result" [(ngModel)]="value" placeholder="0"></td></tr>

    <tr><td><button type="button" class="btnclr" (click)="number('+')">+</button></td>
        <td><button type="button" class="btnclr"  (click)="number('-')">-</button></td>
        <td><button type="button" class="btnclr"  (click)="number('*')">x</button></td>
        <td><button type="button" class="btnclr"  (click)="number('/')">÷</button></td>
      </tr>  

    <tr>
        <td><button type="button"  (click)="number('7')">7</button></td>
     <td><button type="button" (click)="number('8')">8</button></td>
     <td><button type="button"  (click)="number('9')">9</button></td>
     <td rowspan="4" ><button class="btnh" (click)="equal()">=</button></td>
   </tr>  

   <tr>
       <td><button type="button"  (click)="number('4')">4</button></td>
     <td><button type="button"  (click)="number('5')">5</button></td>
     <td><button type="button"  (click)="number('6')">6</button></td>
     
  </tr>

  <tr>
     <td><button type="button"  (click)="number('1')">1</button></td>
     <td><button type="button"  (click)="number('2')">2</button></td>
     <td><button type="button"  (click)="number('3')">3</button></td>
    
 </tr>

     <tr>
         <td><button type="button"  (click)="number('0')">0</button></td>
         <td><button type="button"  (click)="number('.')">.</button></td>
         <td><button type="button" class="btnac" (click)="clear()">AC</button></td>
         
     </tr>

 
</table>
</div> -->
